@model IEnumerable<BlackFistDonation.Models.Donor>

@{
    ViewBag.Title = "Donation View";
}

<section class="donorview">
    <article>
        $@ViewBag.CurrentAmount Collected!
    </article>
    <article>
        @ViewBag.DonorCount Donors!
    </article>
</section>

<table class="donortable" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
    </tr>
}

</table>
